section{
    position: relative;
    width: 100%;
    height: 100%;
    #chatSection{
        position: fixed;
        bottom: 90px;
        right: 15px;
        background: white;
        border-radius: 20px;
        width: 320px;
        border: 2px solid #642a53;
        #chatHeader{
            padding: 10px 0 5px 0;
            background: #642a53;
            color: white;
            position: relative;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            user-select: none;
            h4{
                margin-left: 50px;
            }
            #closeChatBtn{
                position: absolute;
                top: 5px;
                right: 5px;
                background: #642a53;
                outline: none;
                border: none;
                color: white;
                padding: 5px;
                font-size: 20px;
            }
        }
        #chatbox{
            margin: 10px 5px;
            min-height: 90px;
            max-height: 90px;
            overflow-y: auto;
            
        }
        #inputText{
            margin: 15px 10px;
            input{
                outline: none;
                border: none;
                border-bottom: 2px solid #642a53;
                width: 75%;
                color: #642a53;
                font-size: 16px;
                padding: 5px;
            }
            button{
                float: right;
                outline: none;
                border: none;
                background: #642a53;
                color: white;
                padding: 3px 10px;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }    
}

@media only screen and (max-height: 560px){
    #chatSection{
        bottom: 64px !important;
    }
    #chatbox{
        min-height: 90px !important;
        max-height: 90px !important;
    }
}
