section{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    bottom: 0;
    #navcontent{
        position: relative;
        #navbg{
            position: relative;
            #navimg{
                width: 100%;    
                height: 50px;    
                opacity: 0.75;        
            }
            #menuItems{
                position: absolute;
                width: 100%;
                top: -10px;
                left: 0;
                justify-content: center;
                padding: 0;
                list-style: none;
                display: inline-flex;
                #item{
                    cursor: pointer;
                    width: 80px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: white;
                        user-select: none;                    
                        img{
                            transform: scale(1);
                            transition: .3s;
                            margin-top: -25px;
                        }
                        div{
                            font-size: 9px;
                            font-family: sans-serif;
                            font-weight:900;
                            margin-top: 5px;
                        }
                    }
                }
                #item:hover{
                    a>img{
                        transform: scale(.9);
                        transition: .3s;
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 1175px){
    #item{
        // width: 9vw!important;
        // img{
        //     transform: scale(.4) !important;
        // }
    }
}
@media only screen and (max-width: 800px) {
    #navimg {
      display: none !important;
    }
    #navimg2 {
        width: 100%;    
        height: 50px;    
        opacity: 0.75;   
        display: block !important;
      }
  }

  #navimg {
    display: block;
  }
  #navimg2 {
    
      display: none;
    }