section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 55%;
    left: 37%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 38.4%;
    left: 11.4%;    
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_3{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 38.3%;
    left: 81.4%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}