<section>
    <div class="content-wrap">
        <div id="bg">
            <img src="assets/fasenra/helpdesk end.jpg" alt="">
            <a id="pointer_1" data-toggle="modal" data-target="#helpDeskModal" (click)="stepup('click_helpdesk');">
                <div class="pulsating-circle"></div>
            </a>
            <a id="pointer_2" data-toggle="modal" data-target="#feedbackModal" (click)="stepup('click_agenda');">
                <div class="pulsating-circle"></div>
            </a>
            <a id="pointer_3" data-toggle="modal" data-target="#agendaModal" (click)="stepup('click_feedback');">
                <div class="pulsating-circle"></div>
            </a>
        </div>
    </div>
</section> 