section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        // background: url(../../assets/fasenra/login.jpg);
        // background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: auto;
    }
}
.form-control{
    font-size: 1.5rem !important;
}
.logo {
    text-align: center;
    padding-top: 5.5%;
  }
  .logo img {
    width: 60%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }
#loginSection{
    label{
        color: #fff;
    }
    .form-control{
        background: #ededed !important;
    }
    #submit-btn{
        text-align: center;
        button{
            // background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            background-color: crimson;
            color: white;
            padding: 10px 30px 10px 30px;
        }
    }
}