#download{
    position: absolute;
    top: 1%;
    right: 8.5%;
    width: 36px;
    height: 36px;
    // background-color: black;
    a{
        img{
            opacity: 0;
        }
    }
}
#buttons{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    .fa{
        transition: .3s;
        background: white;
        padding: 10px 12px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 10px;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
        transform: scale(1.2);
    }
    #left{
        position: absolute;
        top: 50%;
        left: -39px;
    }
    #right{
        position: absolute;
        top: 50%;
        right: -39px;
    }
    .fa:hover{
        transition: .3s;
        background: #16649bcf;
        color: white;
        transform: scale(1.5);
    }
}