#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8{
    position: absolute;
    width: 7%;
    height: 7%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_1{
    top: 30%;
    right: 12.5%;
}
#pointer_2{
    top: 29%;
    left: 13%;
}
#pointer_3{
    top: 47%;
    right: 33%;
}
#pointer_4{
    top: 34%;
    left: 28%;
}
#pointer_5{
    top: 34%;
    right: 28.1%;
}
#pointer_6{
    top: 49%;
    left: 46%;
}
#pointer_7{
    top: 47%;
    right: 17.5%;
}
#pointer_8{
    top: 47%;
    right: 2.5%;
}
#onloadPlayer{
    position: absolute;
    width: 17.2%;
    top: 39.85%;
    left: 41.25%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

// #background{
//     top: -30px;
// }
// @media (min-aspect-ratio: 16/9) {
//     #lobbyBgVideo{
//       width: 100%;
//       height: auto;
//     }
//   }
  @media (max-aspect-ratio: 16/9) {
    // #lobbyBgVideo {
    //   width: auto;
    //   height: 100%;
    // }
    #background{
        top: 0px;
    }
    #onloadPlayer{
      top: calc(39.35% + 1px);
    }
  }
