<app-header></app-header>
<main>
    <div *ngIf="(livemsg) && (router.url !== '/auditorium/one')" id="livemsg" routerLink="/auditorium/one" title="Auditorium">
        <p>Event is about to start. Kindly proceed to Auditorium</p>
    </div>
    <router-outlet></router-outlet>
</main>
<app-agenda></app-agenda>
<app-feedback></app-feedback>
<app-help-desk></app-help-desk>
<app-speakers></app-speakers>