
#livemsg{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: hotpink;
    color: white;
    z-index: 100;
    border-radius: 5px;
    cursor: pointer;
    p{
        margin: 1px;
    }
}