.contianer-fluid{
    overflow: hidden;
    margin: 70px 100px;
    flex-direction: column;
}
#container{
    margin: 70px 25px;
    display: flex;
    overflow: hidden;
    font-family: sans-serif !important;
}
#imgSlider{
    justify-content: center;
    height: auto;
    position: relative;
    width: 100px;
    #up, #down{
        width: 100%;
        background: white;
        text-align: center;
        cursor: pointer;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: .3s;
        .fa{
            width: 50%;
        }
    }   
    #slideImages{
        min-height: 420px;
        max-height: 450px;
        overflow: hidden;
        text-align: center;        
        #listImg{
            margin: 2px;
            width: 100%;
            #listSliderImg{
                padding: 5px;
                margin: 2px;
                width: 70px;
                height: 85px;
                transition: .3s;
                border-radius: 2px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                cursor: pointer;
            }
            #listSliderImg:hover{
                background:#2874f0;
                padding: 2px;
                transition: .3s;
                transform: scale(1.1); 
            }
        }
    }
}
#hoveringbox{
    position: relative;
    #imager{
        position: relative;
        width: 440px;
        top: 0;
        left: 0;
        cursor: none;
        #boximgid{
            width: 100%;
            height: 550px;
        }
        #rect{
            position: absolute;
            background: #c7c4c447;
            border: 1px solid #d4d4d4;
            width: 150px;
            height: 85px;
            // width: 100px;
            // height: 75px;
            // transform: translate(-50%, -50%);
            pointer-events: none;
            cursor: none;
        }
    }
}

#resultimager{
    #resultimg{
        width: 100%;
        // height: 600px;
    }
}

#productDetail{
    position: relative;
    width: 100%;
    .zoom{
        position: absolute;
        top: 45%;
        left: 10%;
        // transform: translate(-50%, -50%);
        box-shadow: 5px 5px 5px rgb(24,24,24);
        border-radius: 3px;
    }
}
#offers{
    list-style-type: none;
    padding: 0;
    li{
        padding: 5px 1px;
        color: #212121;
        img{
            width: 18px;
            user-select: none;
            margin: 5px 10px 0 0;
        }
    }
}