
  <!-- Modal -->
  <div class="modal fade" id="helpDeskModal" tabindex="-1" role="dialog" aria-labelledby="helpDeskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 15px 25px 5px 50px;">
            <h4 class="text-white"><img src="assets/ipf/icons/chat.png" width="12%" alt=""> Live Support Chat</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="teamText">
                <p>You are chatting with Support Team</p>
            </div>
            <div id="helpDeskMsg" #scroller [scrollTop]="scroller.scrollHeight" style="height: 400px;overflow: auto;">
                <ul id="desklist">
                  <ng-container *ngFor="let msg of deskMessages; let i =index">                    
                    <li *ngIf="(msg.answer=='')||(msg.question != '')">
                      <div id="desklist_message">
                        <div style="border-radius: 50%; background:#a64176; border: 2px solid; width: 50px; height:50px;"></div>
                          <div id="desklist_text">
                            <!-- <span>{{user_name}}</span> -->
                            <span>You</span>
                            <p>{{msg.question}}</p>
                          </div>
                      </div>
                    </li>
                    <li *ngIf="(msg.question=='')||(msg.answer!='')">
                      <div id="desklist_message">
                          <img src="../../../../assets/ipf/icons/ps.png" width="50" height="50" style="border-radius: 50%; border: 2px solid;" alt="">
                          <div id="desklist_text">
                            <span>Support Team</span>
                              <p>{{msg.answer}}</p>
                          </div>
                      </div>
                    </li>
                  </ng-container>                    
                </ul>
            </div>
            <div id="inputTextMessage">
              <input type="text" id="inputText" [formControl]="message" (keyup.enter)="postHelpdesk(message.value)">
              <div id="sendMsg">
                <button id="btn" (click)="postHelpdesk(message.value)">SEND</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>